{{ define "main" }}
<div class="parallax">
   {{ partial "nav.html" .}}
   {{ partial "header.html" .}}
	<main class="parallax__layer">
  {{ partial "home/agenda.html" . }}
	{{ partial "home/blog.html" . }}
  {{ partial "home/services.html" . }}
  {{ partial "home/a-propos.html" . }}
	</main>
	{{ partial "footer.html" . }}
</div>
{{ end }}

{{/* Le header fading est remplacé par le parallax */}}
{{/* define "js" }}
 <script  src="{{ .Site.BaseURL }}/js/pau-a-velo.js"></script>
 <script>   window.console = window.console || function(t) {};</script>
 <script>   if (document.location.search.match(/type=embed/gi)) {window.parent.postMessage("resize", "*"); }</script>
{{ end */}}
