{{ $related := .Site.RegularPages.Related . | first 4 }}
{{ .Scratch.Set "card_display_summary" false }}
{{ if (or $related .Params.tag) }}
  <div class="related">
    <h1>En rapport</h1>
    {{ with $related }}
      <div class="suggestions">
        <h2>Suggestions</h2>
        <div class="pure-g">        
          {{ range . }}
          <div class="pure-u-1 pure-u-sm-1-2">
            {{ .Scratch.Set "card_display_summary" false }}
            {{ partialCached "cards/generic.html" . .Permalink "false" }}
          </div>
          {{ end }}
        </div>
      </div>
    {{ end }}
    {{ with .Params.tags }}
      <div class="tags">
        <h2>Mots-clés</h2>
        <ul>
          {{ range sort . }}
          <li><a href="{{ "/tags/" | relURL }}{{ . | urlize }}">{{ . }}</a> </li>
          {{ end }}
        </ul>
      </div>
    {{ end }}
    {{ partial "up_arrow" }}
  </div>
{{ else }}
  {{ partial "up_arrow" }}
{{ end }}
