.card .card-image.hover-overlay:before {
  background: #999;
  opacity: 0.2;
}

.card .card-image.hover-overlay:after {
  content: '';
}

.card:hover .card-image.hover-overlay:before {
  opacity: 0;
}

.card:hover .card-image.hover-overlay:after {
  opacity: 0.6;
}
