{{ if .Params.header }}
  {{ .Scratch.Set "image" ((.Site.GetPage "media").Resources.GetMatch .Params.header) -}}
{{ else if .Resources }}
  {{ .Scratch.Set "image" ((.Resources.ByType "image").GetMatch "header.*") -}}
{{ end}}
{{ .Scratch.Set "hasImage" (cond (not (.Scratch.Get "image")) false true) -}}
<div class="card {{ cond (.Scratch.Get "hasImage") " with-image" "" }}">
	{{ partial "cards/image.html" . }}
	<div class="card-text">
		{{ partial "cards/title.html" . }}
		{{/* On ne met pas le résumé si on est dans les suggestions d'un autre article  */}}
		{{ if (.Scratch.Get "card_display_summary") }}
			{{ partial "cards/summary.html" . .Permalink }}
		{{ end }}
	</div>
</div>
