@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700);
body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  color: #333;
}

header {
  background: #111;
}

.headline {
  position: relative;
  height: 400px;
  color: #fff;
  text-align: center;
  background: url("../img/firstBG-pau.jpg")no-repeat center center;
 /* background: url("https://farm9.staticflickr.com/8088/8363737128_b76782c7a2_b.jpg") no-repeat center center;*/
  background-size: cover;
}
.headline:after {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(17, 17, 17, 0.5);
}

.inner {
  position: absolute;
  top: 50%;
  left: 50%;
  opacity: 0;
  z-index: 10;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  -webkit-animation: fade-in 0.75s 0.25s ease-in forwards;
          animation: fade-in 0.75s 0.25s ease-in forwards;
}
.inner h1 {
  margin: 0;
  font-size: 4em;
  line-height: 1.2em;
}
.inner p {
  margin: 0;
  font-size: 1.4em;
  font-style: italic;
  font-family: serif;
}

nav {
  position: fixed;
  width: 100%;
  z-index: 10;
}
nav.scrolled {
  background: rgba(17, 17, 17, 0.9);
}
nav ul {
  float: right;
  list-style: none;
  padding: 25px;
  margin: 0;
}
nav li {
  float: left;
}
nav a {
  font-size: 0.9em;
  color: #fff;
  text-decoration: none;
  margin: 5px 0 0 20px;
  display: block;
}
nav a:hover {
  color: #ededed;
}

.logo {
  height: 75px;
  float: left;
}
.logo:before, .logo:after {
  position: absolute;
  font-size: 7em;
  font-weight: 300;
  line-height: 0;
  color: #fff;
  top: 25px;
}
.logo:before {
  content: '\00BB';
  left: 20px;
}
.logo:after {
  content: '\00AB';
  left: 34px;
}
/*.section{
position: relative;
}
 pour les sections
.section {
  position : relative;
  width: 100%;
  margin: 25px auto;
  padding: 20px;
  max-width: 800px;
  font-size: 1.2em;
  line-height: 1.6em;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;}
          
.section:nth-child(1) { height: 100vh; line-height: 10vh; background: #ffffff; }
.section:nth-child(2) { height: 100vh; line-height: 100vh; background: #127984; }
.section:nth-child(3) { height: 100vh; line-height: 100vh; background: #000; }
.section:nth-child(4) { height: 100vh; line-height: 100vh; background: #ffffff;}
.section h2 { font-family: Roboto; font-weight: 100; font-size: 10vw; color: #fff; }
.section p { font-family: Roboto; font-weight: 100; font-size: 2rem; color: #fff; }
.section i { position: absolute; color: #fff; bottom: 5%; left: 50%; }
}
*/
@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* pour les effects over cards----------------*/
/* Card hover effect début*/
.container {
	color:#000000;
   width: 1090px;
  min-width: 600px;
  height: 430px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.card {
   letter-spacing: 0.03em;/*gr*/
  line-height: 1.6;/*gr*/
  width: 330px;
  height: 430px;
  float: left;
  border-radius: 8px;
  -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  position: relative;
  top: 0;
  text-align: center;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
}
.container .card:nth-child(2) {
  margin: 0 50px;
}
.container .card:hover {
  top: -15px;
  -webkit-box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
          box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}
/* Card hover effect fin*/
