@import "http://weloveiconfonts.com/api/?family=fontawesome";

body {
  margin: 0;
  padding: 0;
  color: #444;
  background-color: #333;
  font-size:18px;
}

@media (max-width: 768px) {
    body{font-size: 14px;}
}

h1,h2,h3{
  line-height:1.2
}

/*********************************************
Main menu bar
**********************************************/
.custom-wrapper {
    position:absolute;
    z-index:10;
    width:100%;
    -webkit-font-smoothing: antialiased;
}
.custom-menu-3 {
  text-align:right;
}
nav.no-header {
  position:relative;
  background-color: #333;
}
nav h1{
  margin:0;
  text-transform: uppercase;
  display: inline;
}
nav h1 img{vertical-align: bottom;padding:0.2em;}
.pure-menu-horizontal {
  white-space: normal;
}
/* nav h1 img, nav .pure-menu-list{
  background-color: rgba(17,17,17,0.5);
} */
nav h1 img:hover{
  /* background-color: rgba(17,17,17,0.5); */
}
nav.no-header h1 img, nav.no-header .pure-menu-list{
  background: transparent;
}
#menu a{
  color:#fff;
  font-size: 1.2em;
  border-radius: 2px;
}
#menu a.pure-menu-link{
  padding: 0.3em 1em;
}
#menu li a:hover, #menu li a:focus{
  background-color: #07E86A;
  color: #222;
}

@media (max-width: 47.999em) {
    .custom-menu-3 {
      text-align: left;
    }
    #menu li a.pure-menu-link{
      padding: 0.1em 0.2em;
      font-size:1.4em;
    }
    .inner h1 {
      font-size:2.5em;
    }
    .inner p{
      font-size:1.7em;
    }
}


/*************************************************
Header image
**************************************************/

/* Homepage header image*/

.headline {
  position: relative;
  height: 100vh;
  color: #ffffff;
  text-align: center;
  background: url("../home.jpg")no-repeat center center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
.headline:after {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color:#000;
  opacity: 0;
  animation: fade-out 0.8s ease forwards;
}

.inner {

  padding:1em 0;
  /* background: rgba(17, 17, 17, 0.6); */
  z-index: 10;
}
.inner h1 {
  margin: 0;
  font-size: 3.5em;
  font-weight: normal;
  /* text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black; */
}
.inner p {
  margin: 0;
  font-size: 2em;
  font-style: italic;
  font-family: serif;
  font-weight: bold;
  /* text-transform: uppercase; */
  /* line-height: 2; */
  display: flex;
  flex-flow: column nowrap;
}
.inner p .come-in{
  opacity: 0;
          animation: pop-in 0.8s 1s cubic-bezier(.26,.09,.41,1.3) forwards;
}
.inner p .fall-down{
  opacity: 0;
          animation: fade-in 1s .3s ease-in forwards;
}
@keyframes pop-in {
  0% {
    opacity: 0;
    transform: translateX(-100%) scale(.8);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
@keyframes fade-out {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.6;
  }
}

/* Article header image*/
div.header-img{
  text-align: center
}
div.header-img img{
  max-width: 100%;
  max-height: 60%;
}

/*Parallax (ralentit trop la page)*/
/* .parallax{
  perspective: 1px;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
}
main {
  transform: translateZ(0);
}
header {
  transform: translateZ(-1px) scale(2.05);
} */




/**************************************************
Sections
****************************************************/
/*code de ghislaine ------*/
main {
  padding:0;
  margin:0 auto;
}

section {
  background-color: #e0e0e0;
  /* background-color: transparent; */
  width:100%;
  padding:2em 0;
}

section:nth-of-type(2n) {
  background-color: #222;
}

section h1{
  padding: 0 2%;
  width:96%;
  margin-bottom: 0;
  padding-bottom: 0.2em;
  font-size: 3em;
  text-align: center;
  position: relative;
  z-index: 1;
}
/* Le bouton de retour en haut de page */
a.goto-header{
  font-size: 3em;
  font-family: monospace;
  font-weight: bold;
  background-color: #aaa;
  border: 3px solid #666;
  border-radius: 100%;
	display: block;
	height: 1.25em;
	width: 1.25em;
	left: 50%;
  margin-left:-0.6em;
	line-height: 1.65em;
	overflow: hidden;
	position: relative;
	white-space: nowrap;
  text-align: center;
  color: #333;
  margin-bottom: 0.7em;
  -webkit-box-shadow: 0 2px 2px rgba(255, 255, 255, 0.2);
          box-shadow: 0 2px 2px rgba(255, 255, 255, 0.2);

  -webkit-transition: all 0.2s ease-in-out;
	   -moz-transition: all 0.2s ease-in-out;
	    -ms-transition: all 0.2s ease-in-out;
	        transition: all 0.2s ease-in-out;
}
a.goto-header:hover{
  background-color: #07E86A;
  -webkit-box-shadow: 0 0 16px rgba(255, 255, 255, 0.4);
          box-shadow: 0 0 16px rgba(255, 255, 255, 0.4);
}


/*****************************************************************
Mise en forme commune entre les pages pleines et les carte résumées
********************************************************************/

.about{
 text-align:right;
 font-size:0.8em;
}
.event-location,
.event-time {
  font-size: 1.25em;
}
.event-location:before {
  content: "\f041";
  font-family: "Fontawesome";
  margin-right: .35em;
}
.event-time:before {
  content: "\f017";
  font-family: "Fontawesome";
  margin-right: .35em;
}

/************************************************
 Mise en forme des résumés d'article et d'évènement
*************************************************/
/* Commun au deux types de résumé */

.card-container{
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding:2em 2px;
}

.card {
  /* letter-spacing: 0.03em;/*gr*/
  background-color: #f0f0f0;/*gr*/
  border-radius: 8px;
  /* remove bloating effects
  -webkit-box-shadow: 0 2px 2px rgba(255, 255, 255, 0.2);
          box-shadow: 0 2px 2px rgba(255, 255, 255, 0.2);*/
  -webkit-transition: background-color 0.25s;
          transition: background-color 0.25s;
  width:100%;
  height: 100%;
  margin:0 auto;
  overflow: hidden;
  max-width: 34em;
}
.card:hover {
  /* top: -15px; */
  background-color: #fff;
  /* remove bloating effects
  -webkit-box-shadow: 0 12px 16px rgba(255, 255, 255, 0.2);
          box-shadow: 0 12px 16px rgba(255, 255, 255, 0.2);*/
}
.card .card-text, .card .event-description{
  padding:0 1.2em;
}
.card .card-title a{
  text-decoration: none;
  color: #333;
}
.card .card-title a:hover{
  text-decoration: underline;
}
.card .card-summary{
  line-height: 1.5em;
}
.card-img{
  text-align: center;
}
.card img{
  vertical-align: bottom;
  max-width: 100%;
}

/* Pour les évènements du calendrier */
section.events>.pure-g{
  justify-content: center;
}
.event-info {
  /* display: flex; */
  flex-wrap: nowrap;
  /* justify-content: flex-start; */
}
.event-date {
  /* display: flex;
  flex-flow: column nowrap;
  width: 100px;
  max-width: 100px; */
  /* margin-bottom: 0.5em; */
  /* padding:0; */
  margin:1em 0;
}
.event-date .event-start,
.event-date .event-end {
  width: 2.8em;
  text-align: center;
  resize: vertical;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: monospace;
  font-weight: bold;
  font-size: 2em;
  background-color: #07E86A;
  color:#333;
  text-transform: uppercase;
  line-height: 1.1em;
  margin:0;
}
.event-date .event-end {
  margin-top: 0;
}
.event-date .event-end:before {
  content: "au";
  font-size: .5em;
  position: absolute;
  top: 90px;
  left: 37px;
}
.event-date .event-start span.day-month,
.event-date .event-end span.day-month{
  padding: 0.1em 0;
  /* align-self: flex-end; */
}
.event-date .event-start span.year,
.event-date .event-end span.year{
  font-size: 0.5em;
  background-color: #333;
  color:#07E86A;
  /* align-self: flex-end; */
}



/**********************************************
SERVICES
***********************************************/
section.services{
  min-height: 100vh;
}
section.services .pure-g{
  justify-content: center;
  max-width: 45em;
  height: 100%;
  align-content: space-around;
  margin: 0 auto;
}
section.services .pure-g>div{
  text-align: center;
}
section.services a.service{
  display: inline-block;
  padding: .5em;
  margin: 1em 0;
  text-align: center;
  text-decoration: none;
  color: #333;
  border: 1px solid #333;
  border-radius: 5px;
  font-size: 1.5em;
  box-shadow: 3px 3px 5px rgba(17,17,17,.2);
  background-color:#f0f0f0;
  min-width: 5em;
  transition: all 0.2s;
}
section.services a.service:hover{
  background-color: #fff;
  box-shadow: 2px 2px 5px 3px rgba(17, 17, 17, 0.3);
}
section.services a.service .fas{
  font-size: 2em;
}
section.services a.service .label{
  display: block;
  margin-top: .5em;
  text-align: center;
}




/**********************************************
GALLERY
***********************************************/
.gallery figure{
  display:inline-block;
  margin:0;
  padding:0;
}



/**********************************************
TAGS
***********************************************/
 .tags{
  text-align: center;
  word-break: keep-all;
}
.tags h2{
  color:#666;
}
.tags ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
.tags ul li {
	display: inline-block;
	margin: 0 .5em .5em 0;
	padding: 0;
}
.tags a{
  font-size: 1.2em;
  text-decoration:none;
  color: #eee;
}
.tags a:hover{
  color: #fff;
  text-decoration:underline;
  text-decoration-color: #666;
}


.view-all{
  width: 100%;
  height: 100%;
  display:flex;
  align-items: center;
  justify-content: center;
}


/*******************************************
 Page de détail et de liste
*********************************************/
.list-head::after{
  content: "";
  opacity: 0.5;
  top: 5em;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  height: 13em;
  z-index: -1;
  background: url(https://openclipart.org/download/7902/carlitos-BikeWheel.svg) transparent no-repeat;
  background-size:contain;
}
.list-head h1, .pagination{
  color: #ccc;
  text-align: center;
}
.list-head h2{
  margin-bottom: 0.2em;
}

article {
  background-color: #f8f8f8;
  max-width:40em;
  margin: 0 auto;
}
article .about, article h1, article .content{
  padding:0 1em;
}
article .about{
  line-height: normal;
}
article .event-info{
  background-color: #ddd;
}
article .event-date{
  padding-right: 1em;
}
article h1{
  text-align: center;
}
article .content {
  font-size:1.1em;
  line-height:1.5;
}
article .related{
  background-color: #222;
  text-align: center;
  padding: 1em;
}
article .related h1{
  font-size: 0.8em;
  padding: 0;
  margin:0 0 -1.2em;
  text-align: left;
  color: #888;
}
article .suggestions>h2, article .tags>h2{
  margin: 1.2em 0 0.7em;
  padding: 0 0 0.5em;
  color: #bbb;
  font-size: 1.2em;
  border-bottom: 3px dashed #333;
}
article .related .tags a{
  display: inline-block;
  padding: .2em .3em;
  border: 1px solid #ddd;
  border-radius: 3px;
  white-space: nowrap;
  font-size: 1.1em;
}
article .related .tags a:hover{
  text-decoration: none;
  background-color: #0078e7;
  border: 1px solid #0078e7;
}
article .related .suggestions .pure-g{
  justify-content: center;
}
article .related .suggestions .pure-g>div{
  padding: 0 5px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
article .related .suggestions .card h2{
  font-size: 1em;
}
article img{
  max-width: 100%;
}
article figcaption{
  margin-top: 1.5em;
  font-weight: bold;
}
