
<div class="card">
	{{ with (.Resources.ByType "image").GetMatch "header.*" }}
		{{ $image := .Fill "320x240 Top" }}
		<img src="{{ $image.RelPermalink }}" />
  {{ end }}
	<h2><a href="{{ .Permalink }}">{{ .Title }}</a></h2>
	<div class="meta">
		<time datetime="{{ .Date }}">{{ .Date.Day }} {{ partial "short_month" . }} {{ .Date.Year }}</time>
		{{- with .Params.author }}, <span class="author">{{ . }}</span>{{ end }}
	</div>

	<div class="summary">
		{{ .Summary }}
		{{ if .Truncated }}
			<a href="{{ .Permalink }}">Read more...</a>
		{{ end }}
	</div>
</div>
