<footer id="footer">
	<div class="pure-g">
		<div class="pure-u-1">
			<h3>Pau à Vélo</h3>
		</div>
		<div class="pure-u">
				Centre social la pépinière<br/>
				6 av. Robert Schuman<br>
      	64000 Pau
		</div>
		<div class="pure-u email">
				{{ partial "mail_adress.html" }}
		</div>
		<div class="pure-u tel">
				07 69 62 75 56
				<a href="tel:+33769627556">
						<span aria-hidden class="fas fa-phone-square" title="Appeler"></span>
						<span class="sr-only">Appeler</span>
				</a>
		</div>
		<div class="pure-u social">
				<a aria-label="page facebook" href="https://www.facebook.com/pauaveloo">
						<span aria-hidden class="fab fa-facebook" title="page facebook"></span>
						<span class="sr-only">page facebook</span>
				</a>
				<a aria-label="profil twitter" href="https://twitter.com/pauavelo">
					<span aria-hidden class="fab fa-twitter" title="profil twitter"></span>
					<span class="sr-only">profil twitter</span>
				</a>
				<a aria-label="RSS" href="{{.Site.RSSLink}}">
						<span aria-hidden class="fas fa-rss" title="RSS"></span>
						<span class="sr-only">RSS</span>
				</a>
		</div>
	</div>
</footer>
