{{- $logo_size := cond .IsHome "100x100" "75x75" -}}
{{- $logo_file := printf "/img/logo_%s_coul_blanc.png" $logo_size -}}
<nav class="custom-wrapper pure-g {{ cond .IsHome "" "no-header" }}" id="menu">
    <div class="pure-u-1 pure-u-md-1-2">
      <h1 id="site-title"><a href="{{ .Site.BaseURL }}#"><img src="{{$logo_file}}" alt="Pau à Vélo"></a></h1>
    </div>
    <div class="pure-u-1 pure-u-md-1-2">
        <div class="pure-menu-horizontal pure-menu custom-can-transform custom-menu-3">
            <ul class="pure-menu-list">
          	{{ range .Site.Menus.main }}
          		<li class="pure-menu-item"><a href="{{ .URL }}" class="pure-menu-link">{{ .Name }}</a></li>
          	{{ end }}
            </ul>
        </div>
    </div>
</nav>
