
<section class="posts">
	<div class="container">
		{{/* La liste des premiers articles
		(le nombre est déterminé par postcount dans le fichier de configuration) */}}
		<h1>Articles</h1>
		{{ $posts := first .Params.postcount (where .Site.RegularPages "Type" "posts") }}
		{{ $posts_len := len (where .Site.RegularPages "Type" "posts") }}
		{{ range $posts }}
		  {{ partial "card.html" . }}
		{{ end }}

		{{/* Les mots clés */}}
		{{ partial "tag-cloud.html" . }}

		{{/* Le lien pour afficher tous les articles */}}
		{{ if or true (gt $posts_len .Params.postcount) }}
		<p class="view-all">
		  <a href="/posts/">Afficher tous</a>
		</p>
		{{ end }}
	</div>
</section>
