{{ define "main" }}
	{{ partial "nav.html" . }}
	{{ with (.Resources.ByType "image").GetMatch "header.*" }}
	<div class="header-img"><img src="{{ .Name }}" /></div>
	{{ end }}
	<main>
		<article>
			{{ .Scratch.Set "about_display" "long" }}
			{{ partial "about.html" . }}
			<h1>{{ .Title }}</h1>
			{{ if (eq .Type "events") }}
				{{ partial "single/event_header.html" . }}
			{{ end }}
			<div class="content">				
				{{ if eq .Params.toc "true" }}
						<h2>Sommaire</h2>
				    {{.TableOfContents}}
				{{ end }}
				{{ .Content }}
			</div>
			{{ partial "single/related.html" . }}
		</article>
	</main>
	{{ partial "footer.html" . }}

	{{ partial "single/gallery_script.html" . }}
	{{ $.Scratch.Set "IsArticle" false }}
{{ end }}
