{{ define "main" }}
	{{ partial "nav.html" . }}
		<main>
			<article>
				{{ with (.Resources.ByType "image").GetMatch "header.*" }}
					<img src="{{ .Name }}"/>
				{{ end }}
				<h1>{{ .Title }}</h1>
				<time datetime="{{.Date}}">{{ .Date.Format "2 January 2006" }}</time>
				<div>
					{{ .Content }}
				</div>
				<div>
					<ul id="tags">
						{{ range .Params.tags }}
						<li><a href="{{ "/tags/" | relURL }}{{ . | urlize }}">{{ . }}</a> </li>
						{{ end }}
					</ul>
				</div>
				<div>
					{{ template "_internal/disqus.html" . }}
				</div>
			</article>
		</main>
	{{ partial "sidebar.html" . }}
	{{ partial "footer.html" . }}
{{ end }}
